fastapi>=0.109.0
pymongo
uvicorn>=0.27.0
requests>=2.31.0
minio>=7.2.3
python-multipart>=0.0.6
docker>=7.0.0
jinja2>=3.1.3
casbin>=1.35.0
casbin-sqlalchemy-adapter>=0.5.2
kubernetes>=29.0.0
pyjwt>=2.8.0
requests-toolbelt>=1.0.0
celery[redis]>=5.3.6
boto3>=1.34.26
python-dotenv>=1.0.1
ipython
sqids>=0.4.1
boto3>=1.34.26
pydantic>=2.5.1
click
rdflib
email-validator
celery[redis]
