*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background: #f1f1f1;
    font-family: 'Merriweather', sans-serif;
    padding: 1em;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: #6a6969;
    text-shadow: 1px 1px 0 white;
}

h2 {
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
}

form {
    max-width: 90%;
    /* Increased width */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    box-shadow: 0 0px 2px #e74c3c !important;
}

form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
}

form #input-submit:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
    height: 126px;
}

.properties {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Ensures responsiveness */
}

.property-section {
    width: 48%;
    /* Half width for larger screens */
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .property-section {
        width: 100%;
        /* Full width for smaller screens */
    }
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}