<!doctype html>
<html lang="en">

{% include 'head_template.html' %}

<body>
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-lg-auto">
                <h3>Computation Metadata: {{ computation.guid }}</h3>
            </div>
        </div>

        <div class="row">
            <!-- Button Group for Selecting Content -->
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" onclick="showMetadata();" class="btn-check" name="btnradio" id="btn-metadata"
                    autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btn-metadata">Metadata</label>

                <input type="radio" onclick="showJSON();" class="btn-check" name="btnradio" id="btn-json"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-json">Serialization</label>

                <input type="radio" onclick="showMermaid()" class="btn-check" name="btnradio" id="btn-mermaid"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-mermaid">Evidence Graph</label>
            </div>
        </div>

        <!-- Table of all properties -->
        <div class="row" id="metadata-container">
            <div class="container">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                {% if computation.name %}
                                {{ computation.name }}
                                {% else %}
                                No name listed.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Persistant Identifier</td>
                            <td>
                                {% if computation.guid %}
                                {{ computation.guid | add_link | safe }}
                                {% else %}
                                No identifier listed.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                {% if computation.description %}
                                {{ computation.description }}
                                {% else %}
                                No description provided.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Owner</td>
                            <td>
                                {% if computation.owner %}
                                {{ computation.owner | add_link | safe }}
                                {% else %}
                                No owner listed.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>
                                {% if computation.author %}
                                {{ computation.author | add_link | safe }}
                                {% else %}
                                No author listed.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Source Organization</td>
                            <td>
                                {% if computation.sourceOrganization %}
                                {{ computation.sourceOrganization | add_link | safe }}
                                {% else %}
                                No Source Organization listed.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>usedDataset</td>
                            <td>
                                {% if computation.usedDataset %}
                                {{ computation.usedDataset | add_link | safe }}
                                {% else %}
                                No datasets used.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>usedSoftware</td>
                            <td>
                                {% if computation.usedSoftware %}
                                {{ computation.usedSoftware | add_link | safe }}
                                {% else %}
                                No software used.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Command</td>
                            <td>
                                {% if computation.command %}
                                {{ computation.command | add_link | safe }}
                                {% else %}
                                No command provided.
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>generated</td>
                            <td>
                                <!-- Dropdown element -->
                                <div class="accordion" id="accordiongenerated">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapsegenerated" aria-expanded="false"
                                                aria-controls="collapsegenerated">
                                                generated
                                            </button>
                                        </h2>
                                        <div id="collapsegenerated" class="accordion-collapse collapse"
                                            data-bs-parent="#accordiongenerated">
                                            <div class="accordion-body">
                                                <ul>
                                                    {% if computation.generated %}
                                                    {% for d in computation.generated %}
                                                    <li>{{ d | add_link | safe }}</li>
                                                    {% endfor %}
                                                    {% else %}
                                                    <li>No generated items available</li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Container Id</td>
                            <td>
                                {% if computation.containerId %}
                                {{ computation.containerId | add_link | safe }}
                                {% else %}
                                No container ID listed.
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row" id="json-ld-container">
            <div class="serialization-btn-group" style="margin-top: 20px; text-align: center;">
                <div class="btn-group" role="group" aria-label="Serialization options" style="width: 50%;">
                    <input type="radio" onclick="showSerialization('json-text')" class="btn-check" name="serialization"
                        id="serialization-json" autocomplete="off" checked>
                    <label class="btn btn-sm btn-outline-info" for="serialization-json">JSON-LD</label>

                    <input type="radio" onclick="showSerialization('rdf-xml-text')" class="btn-check"
                        name="serialization" id="serialization-rdf" autocomplete="off">
                    <label class="btn btn-sm btn-outline-info" for="serialization-rdf">RDF/XML</label>

                    <input type="radio" onclick="showSerialization('turtle-text')" class="btn-check"
                        name="serialization" id="serialization-turtle" autocomplete="off">
                    <label class="btn btn-sm btn-outline-info" for="serialization-turtle">Turtle</label>
                </div>
            </div>
            <div class="json-wrapper">
                <pre id="json-text">{{ json }}</pre>
                <button id="copy-btn" class="copy-btn" title="Copy JSON-LD">
                    <i class="fas fa-copy"></i> Copy JSON-LD
                </button>
                <pre id="rdf-xml-text" style="display: none;">{{ rdf_xml }}</pre>
                <pre id="turtle-text" style="display: none;">{{ turtle }}</pre>
            </div>

        </div>


        <!-- Mermaid graph -->
        <div class="row" id="mermaid-container">
            <pre class="mermaid" id="mermaid-text">
                {{ evidencegraph }}
            </pre>

        </div>
    </div>
    {% include 'scripts_template.html' %}
</body>

</html>