<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fairscape ROCrate</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet"
        href="/Users/justin/Docs/Tim_Work/Git_Repos/mds_python/src/fairscape_mds/static/css/submission.css">
</head>

<body>
    <h1>ROCrate Metadata Submission</h1>
    <!-- Added enctype attribute for file upload -->
    <form enctype="multipart/form-data">
        <div class="properties">
            <h2>Required Properties</h2>
            <input type="text" id="name" placeholder="Dataset Name">
            <input type="text" id="guid" placeholder="GUID">
            <input type="text" id="owner" placeholder="Owner">
            <textarea name="message" type="text" id="description" placeholder="Description"></textarea>

            <!-- File upload input -->
            <input type="file" id="dataset-file" name="dataset-file">
        </div>
        <input type="submit" value="Submit" id="input-submit">
    </form>
</body>

</html>