<!doctype html>
<html lang="en">

{% include 'head_template.html' %}

<body>
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-lg-auto">
                <h3>ROCrate Metadata: {{ rocrate.guid }}</h3>
            </div>
        </div>

        <div class="row">
            <!-- Button Group for Selecting Content -->
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" onclick="showMetadata();" class="btn-check" name="btnradio" id="btn-metadata"
                    autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btn-metadata">Metadata</label>

                <input type="radio" onclick="showJSON();" class="btn-check" name="btnradio" id="btn-json"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-json">Serialization</label>

                <input type="radio" onclick="showMermaid()" class="btn-check" name="btnradio" id="btn-mermaid"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-mermaid">Evidence Graph</label>
            </div>
        </div>

        <!-- Table of all properties -->
        <div class="row" id="metadata-container">
            <div class="container">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ rocrate.name }}</td>
                        </tr>
                        <tr>
                            <td>Persistant Identifier</td>
                            <td>
                                {{ rocrate.guid | add_link | safe }}
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ rocrate.description }}</td>
                        </tr>
                        <tr>
                            <td>Source Organization</td>
                            <td>
                                {% if rocrate.sourceOrganization %}
                                {{ rocrate.sourceOrganization | add_link | safe }}
                                {% else %}
                                No source organization available
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Contains</td>
                            <td>
                                {% for metadata in rocrate.metadataGraph %}
                                <div class="accordion" id="accordion{{ metadata.name | replace(' ', '-') }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapse{{ metadata.name | replace(' ', '-') }}"
                                                aria-expanded="true"
                                                aria-controls="collapse{{ metadata.name | replace(' ', '-') }}">
                                                {{ metadata.name }}
                                            </button>
                                        </h2>
                                        <div id="collapse{{ metadata.name | replace(' ', '-') }}"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordion{{ metadata.name | replace(' ', '-') }}">
                                            <div class="accordion-body">
                                                <strong>Name:</strong> {{ metadata.name }}<br>
                                                <strong>GUID:</strong> {{ metadata.get('@id') | add_link | safe }}<br>
                                                <strong>Type:</strong> {{ metadata.get('@type') | add_link | safe }}<br>
                                                <strong>Description:</strong> {{ metadata.description }}<br>
                                                <strong>Type:</strong> {{ metadata.metadataType }}<br>
                                                <strong>Keywords:</strong> {{ metadata.keywords }}<br>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Distributions</td>
                            <td>
                                <div class="accordion" id="accordionDistributions">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseDistributions" aria-expanded="false"
                                                aria-controls="collapseDistributions">
                                                Distributions
                                            </button>
                                        </h2>
                                        <div id="collapseDistributions" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionDistributions">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>{{ rocrate.guid | add_link(true) | safe }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" id="json-ld-container">
            <div class="serialization-btn-group" style="margin-top: 20px; text-align: center;">
                <div class="btn-group" role="group" aria-label="Serialization options" style="width: 50%;">
                    <input type="radio" onclick="showSerialization('json-text')" class="btn-check" name="serialization"
                        id="serialization-json" autocomplete="off" checked>
                    <label class="btn btn-sm btn-outline-info" for="serialization-json">JSON-LD</label>

                    <input type="radio" onclick="showSerialization('rdf-xml-text')" class="btn-check"
                        name="serialization" id="serialization-rdf" autocomplete="off">
                    <label class="btn btn-sm btn-outline-info" for="serialization-rdf">RDF/XML</label>

                    <input type="radio" onclick="showSerialization('turtle-text')" class="btn-check"
                        name="serialization" id="serialization-turtle" autocomplete="off">
                    <label class="btn btn-sm btn-outline-info" for="serialization-turtle">Turtle</label>
                </div>
            </div>
            <div class="json-wrapper">
                <pre id="json-text">{{ json }}</pre>
                <button id="copy-btn" class="copy-btn" title="Copy JSON-LD">
                    <i class="fas fa-copy"></i> Copy JSON-LD
                </button>
                <pre id="rdf-xml-text" style="display: none;">{{ rdf_xml }}</pre>
                <pre id="turtle-text" style="display: none;">{{ turtle }}</pre>
            </div>

        </div>


        <!-- Mermaid graph -->
        <div class="row" id="mermaid-container">
            <svg width="960" height="500"></svg>
            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script>
                var svg = d3.select("svg"),
                    width = +svg.attr("width"),
                    height = +svg.attr("height"),
                    g = svg.append("g").attr("transform", "translate(100,0)");

                var zoom = d3.zoom()
                    .scaleExtent([0.5, 3])
                    .on("zoom", function () {
                        g.attr("transform", d3.event.transform);
                    });

                svg.call(zoom);

                var tree = d3.tree().size([height, width - 160]);

                var root;
                var i = 0;

                function update(source) {
                    var treeData = tree(root);
                    var nodes = treeData.descendants().filter(function (d) { return d.data.visible !== false; });
                    var links = treeData.links().filter(function (d) { return d.source.data.visible !== false && d.target.data.visible !== false; });

                    nodes.forEach(function (d) {
                        d.y = (d.depth - 1) * 180 + (d.data.type === 'property' ? 90 : 180); // Property nodes are closer
                    });

                    var node = g.selectAll('.node')
                        .data(nodes, function (d) { return d.id || (d.id = ++i); });

                    var nodeEnter = node.enter().append('g')
                        .attr('class', 'node')
                        .attr('transform', function (d) {
                            return "translate(" + d.y + "," + d.x + ")";
                        })
                        .on('click', click);

                    nodeEnter.append('circle')
                        .attr('r', 10)
                        .style("fill", function (d) {
                            if (d.data.type === "property") {
                                return d.data.nameOnly ? "#66BFFF" : "#E6F7FF";
                            }
                            return d.children ? "#FFFF99" : "#FFEF00";
                        });

                    nodeEnter.append('text')
                        .attr("dy", ".35em")
                        .attr("x", function (d) { return d.children || d._children ? -13 : 13; })
                        .attr("text-anchor", function (d) { return d.children || d._children ? "end" : "start"; })
                        .text(function (d) {
                            if (d.data.type === "property") {
                                return d.data.nameOnly ? `${d.data.name}:` : `${d.data.name}: ${d.data.value}`;
                            }
                            return d.data.name;
                        });

                    var nodeUpdate = nodeEnter.merge(node);

                    nodeUpdate.transition()
                        .duration(500)
                        .attr("transform", function (d) {
                            return "translate(" + d.y + "," + d.x + ")";
                        });

                    nodeUpdate.select('circle').transition()
                        .duration(500)
                        .style("fill", function (d) {
                            if (d.data.type === "property") {
                                return d.data.nameOnly ? "#66BFFF" : "#E6F7FF";
                            }
                            return d.children ? "#FFFF99" : "#FFEF00";
                        });


                    nodeUpdate.select('text').transition()
                        .duration(500)
                        .text(function (d) {
                            if (d.data.type === "property") {
                                return d.data.nameOnly ? `${d.data.name}:` : `${d.data.name}: ${d.data.value}`;
                            }
                            return d.data.name;
                        });



                    var nodeExit = node.exit().transition()
                        .duration(500)
                        .attr("transform", function (d) {
                            return "translate(" + source.y + "," + source.x + ")";
                        })
                        .remove();

                    var link = g.selectAll(".link")
                        .data(links, function (d) { return d.target.id; });

                    var linkEnter = link.enter().insert('path', "g")
                        .attr("class", "link")
                        .attr('d', d3.linkHorizontal()
                            .x(function (d) { return d.y; })
                            .y(function (d) { return d.x; }));

                    var linkUpdate = linkEnter.merge(link);

                    linkUpdate.transition()
                        .duration(250)
                        .attr('d', d3.linkHorizontal()
                            .x(function (d) { return d.y; })
                            .y(function (d) { return d.x; }));

                    var linkExit = link.exit().transition()
                        .duration(250)
                        .remove();

                    nodes.forEach(function (d) {
                        d.x0 = d.x;
                        d.y0 = d.y;
                    });
                }

                function click(d) {
                    if (d.data.type === "property") {
                        d.data.nameOnly = !d.data.nameOnly;
                        update(d);
                    } else {
                        if (d.children) {
                            d._children = d.children;
                            d.children = null;
                        } else {
                            d.children = d._children;
                            d._children = null;
                        }
                        update(d);
                    }
                }



                function processData(data) {
                    function recurse(value) {
                        if (value != null && typeof value === 'object') {
                            let children = [];
                            for (let k in value) {
                                if (value.hasOwnProperty(k)) {
                                    if (typeof value[k] === 'object' && value[k] !== null) {
                                        if (Array.isArray(value[k])) {
                                            value[k].forEach((item, index) => {
                                                children.push(recurse({
                                                    name: `${k} ${index}`,
                                                    ...item
                                                }));
                                            });
                                        } else {
                                            children.push(recurse({
                                                name: k,
                                                ...value[k]
                                            }));
                                        }
                                    } else {
                                        // Direct properties are handled here
                                        children.push({
                                            name: k,
                                            value: value[k],
                                            type: 'property',
                                            visible: true,
                                            textVisible: true,
                                            nameOnly: k === "description"  // Default to true if the key is "description", false otherwise
                                        });
                                    }
                                }
                            }
                            return {
                                name: value.name || value.id || "Node",
                                children: children,
                                visible: true,
                                type: value.type || 'default'
                            };
                        }
                        return value;
                    }
                    return recurse(data);
                }


                var jsonData = {{ evidencegraph | tojson }};

                root = d3.hierarchy(processData(jsonData), function (d) { return d.children; });
                root.x0 = height / 2;
                root.y0 = 0;

                update(root);
            </script>
        </div>
    </div>
    {% include 'scripts_template.html' %}
</body>

</html>