<!-- footer -->
<footer class="footer">

    <div class="container">
        <div class="text-center">
            © 2022
            Copyright:
            <a class="" href="http://fairscape.github.io"> <strong>BioDEL@FAIRSCAPE</strong></a>
        </div>
    </div>

    <!--div class="text-center p-3" style="background-color: rgba(0,0,0,0.1);">© 2022
        Copyright:
        <a class="" href="http://fairscape.github.io"> <strong>BioDEL@FAIRSCAPE</strong></a>
    </div-->

</footer>
<!-- footer -->