<!-- header -->
<header class="header">
    <!-- Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow-2">
        <div class="container-fluid justify-content-between">
            <!-- Left elements -->
            <div class="d-flex">
                <!-- Brand -->
                <!--a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                  <img
                          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                          height="20"
                          alt="MDB Logo"
                          loading="lazy"
                          style="margin-top: 2px;"
                  />
              </a-->

                <!-- Search form -->
                <!--form class="input-group w-auto my-auto d-none d-sm-flex">
                  <input
                          autocomplete="off"
                          type="search"
                          class="form-control rounded"
                          placeholder="Search"
                          style="min-width: 125px;"
                  />
                  <span class="input-group-text border-0 d-none d-lg-flex"
                  ><i class="fas fa-search"></i
                  ></span>
              </form-->
            </div>
            <!-- Left elements -->

            <!-- Center elements -->
            <!--ul class="navbar-nav flex-row d-none d-md-flex">
              <li class="nav-item me-3 me-lg-1 active">
                  <a class="nav-link" href="#">
                      <span><i class="fas fa-home fa-lg"></i></span>
                      <span class="badge rounded-pill badge-notification bg-danger">1</span>
                  </a>
              </li>
          </ul-->
            <!-- Center elements -->

            <!-- Right elements -->
            <ul class="navbar-nav flex-row">
                <!--li class="nav-item me-3 me-lg-1">
                    <button type="button" class="btn btn btn-outline-primary my-2 my-sm-0" id="signinButton">
                        Sign in
                    </button>
                </li>
                <li class="nav-item me-3 me-lg-1">
                    <button type="button" class="btn btn-primary my-2 my-sm-0" id="signupButton">
                        Sign up
                    </button>
                </li-->
                <li class="nav-item dropdown me-3 me-lg-1">
                    <a class="nav-link d-sm-flex align-items-sm-center dropdown-toggle hidden-arrow" data-bs-toggle="dropdown" href="#"
                        role="button"  aria-expanded="false">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle" height="22"
                            alt="Black and White Portrait of a Man" loading="lazy" />
                        <strong class="d-none d-sm-block ms-1">John</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Edit</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Right elements -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!-- header -->