
/*
.form {
    padding: 10px;
}
*/

/* wide button
.form button {
    width: 100%;
}
*/

/* reserve space for the error to appear below */
.form-group {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* position of the error */
.form-group label {
    position: absolute;
}



