<!doctype html>
<html lang="en">

{% include './development notebooks/vizualization/head_template.html' %}

<body>
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-lg-auto">
                <h3>Schema Metadata: {{ schema.guid }}</h3>
            </div>
        </div>

        <div class="row">
            <!-- Button Group for Selecting Content -->
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" onclick="showMetadata();" class="btn-check" name="btnradio" id="btn-metadata"
                    autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btn-metadata">Metadata</label>

                <input type="radio" onclick="showJSON();" class="btn-check" name="btnradio" id="btn-json"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-json">Serialization</label>

                <input type="radio" onclick="showMermaid()" class="btn-check" name="btnradio" id="btn-mermaid"
                    autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-mermaid">Evidence Graph</label>
            </div>
        </div>

        <!-- Table of all properties -->
        <div class="row" id="metadata-container">
            <div class="container">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ schema.name }}</td>
                        </tr>
                        <tr>
                            <td>Persistant Identifier</td>
                            <td>
                                {{ schema.guid | add_link }}
                            </td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ schema.description }}</td>
                        </tr>
                        <tr>
                            <td>Properties</td>
                            <td>
                                {% for property_name, property_details in schema.properties.items() %}
                                <div class="accordion" id="accordion{{ property_name | replace(' ', '-') }}">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapse{{ property_name | replace(' ', '-') }}"
                                                aria-expanded="true"
                                                aria-controls="collapse{{ property_name | replace(' ', '-') }}">
                                                {{ property_name }}
                                            </button>
                                        </h2>
                                        <div id="collapse{{ property_name | replace(' ', '-') }}"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordion{{ property_name | replace(' ', '-') }}">
                                            <div class="accordion-body">
                                                <strong>Description:</strong> {{ property_details.description }}<br>
                                                <strong>Type:</strong> {{ property_details.type }}<br>
                                                <strong>Index:</strong> {{ property_details.index }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Required</td>
                            <td>
                                <div class="accordion" id="accordionrequired">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapserequired" aria-expanded="false"
                                                aria-controls="collapserequired">
                                                required
                                            </button>
                                        </h2>
                                        <div id="collapserequired" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionrequired">
                                            <div class="accordion-body">
                                                <ul>
                                                    {% for d in schema.required %}
                                                    <li>{{ d | add_link }}</li>
                                                    {% else %}
                                                    <li></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Separator</td>
                            <td>{{ schema.separator }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" id="json-ld-container">
            <div class="serialization-btn-group" style="margin-top: 20px; text-align: center;">
                <div class="btn-group" role="group" aria-label="Serialization options" style="width: 50%;">
                    <input type="radio" onclick="showSerialization('json-text')" class="btn-check" name="serialization"
                        id="serialization-json" autocomplete="off" checked>
                    <label class="btn btn-sm btn-outline-info" for="serialization-json">JSON-LD</label>

                    <input type="radio" onclick="showSerialization('rdf-xml-text')" class="btn-check"
                        name="serialization" id="serialization-rdf" autocomplete="off">
                    <label class="btn btn-sm btn-outline-info" for="serialization-rdf">RDF/XML</label>

                    <input type="radio" onclick="showSerialization('turtle-text')" class="btn-check"
                        name="serialization" id="serialization-turtle" autocomplete="off">
                    <label class="btn btn-sm btn-outline-info" for="serialization-turtle">Turtle</label>
                </div>
            </div>
            <div class="json-wrapper">
                <pre id="json-text">{{ json }}</pre>
                <button id="copy-btn" class="copy-btn" title="Copy JSON-LD">
                    <i class="fas fa-copy"></i> Copy JSON-LD
                </button>
                <pre id="rdf-xml-text" style="display: none;">{{ rdf_xml }}</pre>
                <pre id="turtle-text" style="display: none;">{{ turtle }}</pre>
            </div>

        </div>


        <!-- Mermaid graph -->
        <div class="row" id="mermaid-container">
            <pre class="mermaid" id="mermaid-text">
            {{ evidencegraph }}
            </pre>
        </div>
    </div>
    {% include './development notebooks/vizualization/scripts_template.html' %}
</body>

</html>